.subtitle-btn {
    float: right !important;
    margin-left: 10px;
    padding: 0 13px;
    border: 0;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    border-radius: 3px!important;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    /* display: inline-block; */
    color:#fff;
    background-color: var(--mainColor);
}

.subtitle-btn:hover {
    text-decoration: none!important;
    outline: none!important;
    color: #fff
}